# Data files
data/
*.zip
*.h5
*.hdf5
*.npy
*.npz
*.mat
*.nc

logs/

reconstruction_*
xcorr_*
loss_landscape_*
shift_*
# Ignore all shifts_ folders/files
**/shifts_*
# Exception: keep anything named shifts_ inside help_steph
!**/help_steph/**/shifts_*


# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

notebooks/test_notebooks